nav {
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

table a {
    text-decoration-line: none;
    color: black;
}
html[data-bs-theme="dark"] table a {
    color: inherit; /* 或者你想要的任何颜色 */
}
/*.table-dark-a {*/
/*    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));*/
/*}*/

.file_icon {
    font-size: xx-large;
    vertical-align: middle;
    width: 34px;
    text-align: center;
}

.file_name {
    font-size: large;
    margin-left: 0.3em;
    vertical-align: middle;
    line-height: 2;
}

.file_info {
    font-size: large;
    line-height: 2;
}

.selector-col {
    width: 0;
}

.name-col {
    width: 50%;
}

.modified-col {
    width: 19%;
}

.size-col {
    width: 13%;
}

.action-col {
    width: 18%;
}

.breadcrumb {
    margin-top: 16px;
}

.breadcrumb .breadcrumb-item {
    text-decoration: none;
}

.dropdown-menu {
    --bs-dropdown-min-width: auto !important;
}

#drop-area.dragging {
    border: 2px dashed #999;
    background: #f8f8f8;
    z-index: 1000;
    opacity: 0.7;
}

#drop-area.dragging::after {
    content: "⇧\A拖拽文件到这里\A(不支持拖拽文件夹上传)";
    white-space: pre;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #000000;
    text-align: center;
}

table tbody .selected {
    --bs-table-bg: #C1D4FF;
    --bs-table-color: black;
    --bs-table-hover-color: black;
}

table .selected a {
    color: black !important;
}

table tr td:first-child, table tr th:first-child {
    display: none;
}