table a {
    text-decoration-line: none;
}

.file_icon {
    font-size: xx-large;
    vertical-align: middle;
    width: 34px;
    text-align: center;
}

.file_name {
    font-size: large;
    margin-left: 0.3em;
    vertical-align: middle;
    line-height: 2;
}

.file_info{
    font-size: large;
    line-height: 2;
}

.name-col {
    width: 50%;
}

.modified-col {
    width: 19%;
}

.size-col {
    width: 13%;
}

.action-col {
    width: 18%;
}