.system-info p{
    margin-bottom: 0;
}
.system-info h2{
    margin-top: 22px;
    margin-bottom: 22px;
}
.system-info .group-content{
    border: 2px solid #ededed;
    border-radius:10px;
    padding: 16px;
}

#load-graph,#cpu-graph,#memory-graph{
    padding-top: 35px;
    border: 2px solid #ededed;
    border-radius:10px;
}
#disk-chart{
    padding-top: 10px;
}