#editor{
    margin-bottom: 8px;
}
.ticket-reply {
    margin-bottom: 24px;
    border: 1px solid var(--bs-border-color);
    background: var(--bs-body-bg);
    border-radius: 4px;
}
.ticket-reply-top {
    border-bottom: 1px solid var(--bs-border-color);
    background: var(--bs-secondary-bg);
    padding: 10px 15px;
}
.ticket-reply .user i {
    color: var(--bs-secondary-color);
    margin-right: 6px;
}
.ticket-reply .info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 18px;
    color: var(--bs-tertiary-color);
}
.ticket-reply .ticket-message {
    padding: 25px 15px;
}
.ticket-reply.admin {
    border-color: var(--bs-primary-border-subtle);
}
.ticket-reply.admin .ticket-reply-top {
    background-color: var(--bs-primary-bg-subtle);
    border-color: var(--bs-primary-border-subtle);
}
.ticket-reply.admin .user i {
    color: var(--bs-primary);
}